<header class="jumbotron">
    <h1 class="text-center">
        Cadastro
    </h1>
</header>
<article class="container">
    <div class="row" *ngIf="mensagem">
        <p class="alert alert-success">
            {{mensagem}}
        </p>
    </div>
    <div class="row">
        <form [formGroup]="formCadastro" class="col-sm-6" (submit)="salvar($event)">

            <div class="form-group">
                <label for="">Titulo</label>
                <input
                    formControlName="titulo"
                    required
                    [(ngModel)]="foto.titulo"
                    name="titulo" type="text" class="form-control">


                <div *ngIf="
                
                formCadastro.controls.titulo.invalid 
                && (formCadastro.controls.titulo.dirty || formCadastro.controls.titulo.touched)
                
                ">
                
                    <p *ngIf="formCadastro.controls.titulo.errors.required" class="alert alert-danger">
                        Titulo é obrigatório
                    </p>
                    <p *ngIf="formCadastro.controls.titulo.errors.minlength" class="alert alert-danger">
                        Titulo precisa ter pelo menos 3 caracteres
                    </p>

                </div>
            </div>


            <div class="form-group">
                <label for="">URL</label>
                <input
                    formControlName="url"
                    required
                    [(ngModel)]="foto.url" name="url" type="text" class="form-control">

                    <p *ngIf="" class="alert alert-danger">
                        URL é obrigatória
                    </p>
            </div>

            <div class="form-group">
                <label for="">Descrição</label>
                <textarea 
                    formControlName="descricao"
                [(ngModel)]="foto.descricao" name="descricao" class="form-control"></textarea>
            </div>

            <a [routerLink]="['']" class="btn btn-default">Voltar</a>

            <button [disabled]="formCadastro.invalid" class="btn btn-primary">Salvar</button>

        </form>

        <aside class="col-sm-4">
            <h3>Preview</h3>
            
            <painel *ngIf="foto.titulo" titulo="{{foto.titulo}}">
                <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
            </painel>
        </aside>
    </div>
</article>