<header class="jumbotron">
    <h1 class="text-center">
        Caelumpic
    </h1>
</header>
<main class="container">

    <div class="row">
        <div class="col-sm-12">
                <a [routerLink]="['/cadastro']" class="btn btn-primary">Nova foto</a>
        </div>
    </div>
    
    <div class="row">
        <painel *ngFor="let foto of fotos" titulo="{{foto.titulo}}" class="col-sm-2">
            <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
        </painel>
    </div>
</main>